@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  /* Shared Styles */
  .display-flex{
    display: flex;
  }
  .btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.24rem;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
  }

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .nav-item {
    list-style: none;
    margin-right: 30px;
    
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
  }

  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-size: 45px;
    font-weight: bold;
  }
  .font-dark3{
    color: #727272;
  }
  .nav-links{
    /* align-content: center;
    flex-wrap: wrap; */
  }

  .navbar, .banner{
    max-width: 1440px;
    margin: 0, auto;
  }

  /* BANNER RELATED CONTENT */
  .banner-content{
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
  }
  .banner-description{
    color: #727272;
    margin-bottom: 32px;
  }
  .banner-img{
    margin-top: 50px;
    width: 100%;
  }

  /* Team and Features Styles */

  .teams{
    align-items: center;
    margin-top: 69px;
  }

  .team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 73px;
  }
  .our-features{
    max-width: 537px;
  }

  .quick-list{
    font-weight: 500;
    font-size: 2.81rem;
    color: #727272;
  }
  .of-our{
    font-weight: bold;
    font-size: 2.81rem;
  }
  .feat{
    font-weight: bold;
    font-size: 2.81rem;
    color: #FF900E;
  }
  .feature-descriptions{
    margin-bottom: 32px;
  }

  /* Responsive Media Query */
  @media screen and (max-width: 576px) {
    .nav-links, .navbar, .teams{
        flex-direction: column;
    }
    .nav-links{
        padding: 0;
        align-items: center;
    }
    .img1{
        grid-area: img1;
        width: 50%;
        padding-left: 50px;
    }
    .img2{
        grid-area: img2;
        width: 50%;
        padding-left: 50px;
    }
    .img3{
        grid-area: img3;
        width: 50%;
        padding-left: 50px;
    }
    .img4{
        grid-area: img4;
        width: 50%;
        padding-left: 50px;
    }

    .team-image-container{
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        ;
        gap: 5px;
        /* justify-content: center; */
        /* align-items: center; */
        margin: auto;
    }
    .our-features{
        justify-items: center;
        text-align: center;
    }
        
  }